/.bookmarks
/.desktop
/.history
/.ido.last
/.places
/.recentf
/custom.el
/org-clock-save.el
/tramp
/viper
*~
\#*
.*.lock
*.elc
*.eln
*.o
*.so
/auto-save-list
/eln-cache
/elpa
/elpa-*
/eshell
/image-dired/
/rime
/semanticdb
/straight
/transient
/thumbs/
/url
/var
